# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*

# IDE files
.vscode/
.idea/
*.iml

# Build folders
/target/
/bin/
/out/